@import "tailwindcss";

@plugin "tailwindcss-animate";

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
       url('/fonts/SF-Pro-Display-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

